* {
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
}
.logo img {
    height: 50px;
    
}
.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0px -3px 14px 0px;
}
.links a {
    text-decoration: none;
    color: lightgray;
  }
  .links {
    display: flex;
    gap: 10px;
    padding: 33px 30px;
  }
  .offer {
    color: orangered;
  }
  .main {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;

    gap: 2rem;
    align-items: center;
    padding: 6em;
  }

  .elementor-heading {
    padding: 12% 22%;
    text-align: center;
    color: white;
    font-family: Quicksand;
    line-height: 1;
    font-size: 32px;
  }
  /* note right pack */
  .note-right {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 364px;
  }
  .note-right .register {
    font-size: 23px;
    text-align: center;
  }

  .note-right input {
    padding: 10px 20px;
  }
  .note-right .note1 {
    padding: 23px 0;
    text-align: center;
    font-size: 12px;
  }
  .note-right .note2 {
    font-size: 11px;
    text-align: center;
  }
  .note-right button {
    padding: 14px 20px;
    background: #333;
    border: 0;
    color: #f7f7f7;
    transition: all 0.5s;
  }
  .note-right button:hover {
    background: #c4c4c4;
    color: #787878;
    transition: all 0.5s;
  }
  
  /* humburger */
  /* body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
    background: #1e3c72;
  }
  
  #burger-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 50px;
    overflow: visible;
    position: relative;
    z-index: 2; */
  
    /* // THE LINES */
    /* span,
    span:before,
    span:after {
      background: #fff;
      display: block;
      height: 2px;
      opacity: 1;
      position: absolute;
      transition: 0.3s ease-in-out;
    }
  
    span:before,
    span:after {
      content: '';
    } */
  
    /* // TOP */
    /* span:before {
      left: 0px;
      top: -10px;
      width: 27px;
    } */
  
    /* // MIDDLE */
    /* span {
      right: 0px;
      top: 13px;
      width: 27px;
    } */
  
    /* // BOTTOM */
    /* span:after {
      left: 0px;
      top: 10px;
      width: 27px;
    } */
  
    /* // ROTATION ON CLICK */
    /* &.close { */
      /* // TOP */
      /* span:before {
        top: 0px;
        transform: rotate(90deg);
        width: 27px;
      } */
  
      /* // MIDDLE */
      /* span {
        transform: rotate(-45deg);
        top: 13px;
        width: 27px;
      } */
  
      /* // BOTTOM */
      /* span:after {
        top: 0px;
        left: 0;
        transform: rotate(90deg);
        opacity: 0;
        width: 0;
      } */
    /* }
  }
   */
  /* #menu {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
  
    &.overlay {
      visibility: visible;
      opacity: 1;
      padding-top: 100px;
      background: rgba(0, 0, 0, 0.5);
    }
  
    ul {
      padding: 0;
    }
  
    li {
      list-style: none;
    }
  
    a {
      color: #fff;
      display: block;
      font-size: 32px;
      margin-bottom: 30px;
      text-decoration: none;
    }
  } */


  .nav1 svg{
    fill: rgb(120 120 120);
    font-size: 27px;
}

.nav1{
display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 22px;
}
.resp-nav{
    display: none;
}
.menu-bar{
    display: none;
}
.close-bar {
    fill: rgb(120 120 120);
    position: absolute;
    font-size: 27px;
    right: 7%;
    top: -9%;
}
